* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: 'Chakra Petch', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: 'Black Han Sans', sans-serif;
}

ul {
  list-style-type: none;
}

.background-image-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name-space {
  background-image: url("../images/space.jpg");
  grid-area: space;
}

.name-mars {
  background-image: url("../images/mars.jpg");
  grid-area: mars;
}

.name-moon {
  background-image: url("../images/moon.jpg");
  grid-area: moon;
}

.name-orbit {
  background-image: url("../images/orbit.jpg");
  grid-area: orbit;
}

.name-saturn {
  background-image: url("../images/saturn.jpg");
  grid-area: saturn;
}

.grid-item {
  min-height: 50vh;
  text-decoration: none;
}

.grid-item.name-space {
  height: 100vh;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item h1,
.grid-item h2 {
  text-transform: uppercase;
  padding: 1rem 3rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#menu,
#logo {
  color: #fff;
  text-decoration: none;
  font-family: 'Black Han Sans', sans-serif;
  width: 20vw;
  height: 20vw;
  font-size: 1rem;
  line-height: 1;
  display: flex;
  z-index: 200;
}

#logo {
  background-color: #2ecc71;
  transform: rotate(270deg);
  justify-content: flex-start;
  align-items: flex-end;
}

#menu {
  background-color: #e67e22;
  transition: background-color 0.1s ease-out;
}

header nav {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #e67e22;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: transform 0.25s ease-in-out;
  transform: translateX(-100vw);
}

header nav ul li {
  text-align: center;
  margin: 2rem 0;
  font-size: 1.6rem;
}

header.opened nav {
  transform: translate(0);
}

header.opened #menu {
  background-color: #21201f;
  transition-delay: 0.25s;
}

@media screen and (min-width: 768px) {
  /* grid */
  .grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
      'space space space'
      'space space space'
      'orbit moon mars'
      'orbit saturn mars';
  }

  .grid-item {
    min-height: unset;
  }

  .grid-item.name-space {
    height: unset;
  }

  /* nav */
  #menu { 
    display: none;
  }

  #logo {
    width: 150px;
    height: 150px;
  }

  header {
    justify-content: start;
  }

  header nav {
    display: block;
    position: relative;
    width: calc(100% - 150px);
    background-color: #e74c3c;
  }

  header nav ul {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .grid-container {
    grid-template-areas: 
      'space space space space'
      'space space space space'
      'space space space space'
      'orbit moon mars saturn';
  } 
}

@media screen and (min-width: 1200px) {
  .grid-container {
    grid-template-areas: 
      'space space space space space orbit'
      'space space space space space moon'
      'mars mars mars saturn saturn saturn';
  } 
}

@media screen and (min-width: 1600px) {
  .grid-container {
    grid-template-areas: 
      'space space space space space orbit'
      'space space space space space moon'
      'space space space space space mars'
      'space space space space space saturn';
  } 
}